<!--<div [class.dark-theme]="isDarkTheme">-->
    
    <nav-menu></nav-menu>
    <mat-drawer-container class="example-container">

        <mat-drawer align="end" mode="side" opened="true" #sidenav>
            <mat-tab-group>
                <mat-tab label="Details">
                    <button mat-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>
                </mat-tab>

                <mat-tab label="Feed">Feed</mat-tab>
            </mat-tab-group>

        </mat-drawer>
        <mat-drawer-content>

            <router-outlet></router-outlet>

        </mat-drawer-content>
    </mat-drawer-container>
    <!--</div>-->
