@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }   


}
mat-drawer-content{
    margin-left:15px!important;
    margin-top:15px;
    margin-right:320px;
}