<mat-card>
    <mat-card-title>
        Registration Form
    </mat-card-title>
    <form #f="ngForm" (ngSubmit)="submit()" novalidate>

        <mat-form-field>
            <mat-select [(value)]="selectedMake" placeholder="Make" id="make" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" required #make="ngModel">
                <mat-option value="option"></mat-option>
                <mat-option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</mat-option>
            </mat-select>
            <mat-error>
                <span *ngIf="!make.valid && make.touched"> Please select a Make</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Model" id="model" [(ngModel)]="vehicle.modelId" name="modelId" #model="ngModel" required>
                <mat-option value="option"></mat-option>
                <mat-option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</mat-option>
            </mat-select>
            <mat-error>
                <span *ngIf="!model.valid && model.touched"> Please select a Model</span>
            </mat-error> 
        </mat-form-field>
        <!--<h2>Features</h2>

    <section *ngFor="let f of features">
        <mat-checkbox  id="feature{{f.id}}" formControlName="feature" (change)="onFeatureToggle(f.id, event)">{{f.name}}</mat-checkbox>

    </section>-->
        <div *ngFor="let f of features" class="checkbox">
            <label for="feature{{ f.id }}">
                <input type="checkbox" id="feature{{ f.id }}" (change)="onFeatureToggle(f.id, $event)" [checked]="vehicle.features.includes(f.id)"> {{ f.name }}
            </label>
        </div>

        <mat-form-field>
            <input matInput [errorStateMatcher]="matcher" name="contactName" placeholder="Name" [(ngModel)]="vehicle.contact.name" #contact="ngModel" required>
            <mat-hint>Max 20 character</mat-hint>
            <mat-error>
                <span *ngIf="!contact.valid"> Please enter First Name</span>
            </mat-error>
        </mat-form-field>
       
        <mat-form-field>
            <input matInput name="contactPhone" placeholder="Phone" [(ngModel)]="vehicle.contact.phone" #phone="ngModel" required>
            <mat-hint>Max 10 numbers</mat-hint>
            <mat-error>
                <span *ngIf="!phone.valid"> Please enter Phone Number</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="contactEmail" placeholder="Email" [(ngModel)]="vehicle.contact.email" #email="ngModel" required>
            <mat-hint>use like: email@test.com</mat-hint>
            <mat-error>
                <span *ngIf="!email.valid"> Please enter valid email</span>

            </mat-error>
        </mat-form-field>
        <button mat-button>SUBMIT</button>
    </form>
</mat-card>
<mat-card>
    <p>{{vehicle | json }}</p>
</mat-card>