<mat-toolbar color="primary">
    <span>
        <mat-icon>home</mat-icon>
        DgCoreApp
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>
            more_vert
        </mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Toggle theme</button>

    <button mat-menu-item>Help</button>

</mat-menu>
<mat-drawer-container class="example-container">
    <mat-drawer align="end" mode="side" opened="true" #sidenav>
        <mat-tab-group>
            <mat-tab label="Details">
                <button mat-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>
            </mat-tab>

            <mat-tab label="Feed">Feed</mat-tab>
        </mat-tab-group>

    </mat-drawer>
    <mat-drawer-content>

        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>


<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">DGCoreApp</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/vehicles/new']">
                        <span class='glyphicon glyphicon-plus'></span> New Vehicle
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/counter']">
                        <span class='glyphicon glyphicon-education'></span> Counter
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/fetch-data']">
                        <span class='glyphicon glyphicon-th-list'></span> Fetch data
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>-->


